<!DOCTYPE html>
<html>
<head>    
    <title>Page Title</title>   
</head>
<body>
    <h1>
        {{ title }}<br>
    </h1>   
        {% for obj in  object_list %} <!--for loop-->
        
        {{obj.id}}<br>
       <!-- <a href="/posts/{{obj.id}}/"> {{obj.title}}</a> <br> linking the title to detail page by id-->
       <!--<a href='{% url "posts:detail" id=obj.id %}'> {{obj.title}}</a> <br>-->
       <a href='{{ obj.get_absolute_url}}'> {{obj.title}}</a> <br>
        {{obj.content}}<br>
        {{obj.updated}}<br>
        {{obj.timestamp}}<br>
        <br>
        {% endfor %}
     
</body>
</html>