{% extends "base.html"%}

{% block head_title %}
    {{instance.title}} | 
    {{block.super}} 
           
{% endblock head_title %}
<!--parent class bata content lyako by using super-->
    
{% block content%} 

<div class="col-sm-6 col-sm-offset-3">     
        {% if obj.image %}
    <img src="{{instance.image.url}}" class="img-responsive"/>
    {{% endif %}}
    <h1>
        {{ title }} <small>{{instance.timestamp}}</small><br>
     </h1>       
     {{instance.content|linebreaks}}<br>   <!--to include line breaks-->
</div>
{% endblock content%}
     
